#tecnologias{
    display: flex;
    justify-content:baseline;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    .linguagens{
        padding-left: 60px;
        margin-right: auto;
    }
    .icon-code{
        width: 40px;   
        padding-right: 10px;
    }
    .dashboard{
        padding-left: 45px;
        height: 40%;

    }
}




